---
import Layout from '../layouts/Layout.astro';
import { Image, Picture } from '@astrojs/image/components';
---

<main>
    <Layout title="Keenan Nicholson">
        <Image src={import('../images/goose.jpeg')} alt="" width="400"/>
    </Layout>
</main>

<style>
	:root {
		background: linear-gradient(270deg,#474747, #272727);
		color: white;
	}


	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem;
	}
</style>