---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";

function* chunks(arr, n) {
  for (let i = 0; i < arr.length; i += n) {
    yield arr.slice(i, i + n);
  }
}

const gooseImages = [
  "images/goose4.jpeg",
  "images/goose2.jpeg",
  "images/goose1.jpeg",
  "images/goose3.jpeg",
  "images/goose5.jpeg",
  "images/goose25.jpeg",
  "images/goose7.jpeg",
  "images/goose8.jpeg",
  "images/goose9.jpeg",
  "images/goose10.jpeg",
  "images/goose12.jpeg",
  "images/goose13.jpeg",
  "images/goose14.jpeg",
  "images/goose12.jpeg",
  "images/goose15.jpeg",
  "images/goose16.jpeg",
  "images/goose17.jpeg",
  "images/goose18.jpeg",
  "images/goose19.jpeg",
  "images/goose20.jpeg",
  "images/goose21.jpeg",
  "images/goose22.jpeg",
  "images/goose23.jpeg",
  "images/goose24.jpeg",
  "images/goose35.jpeg",
  "images/goose34.jpeg",
  "images/goose33.jpeg",
  "images/goose32.jpeg",
  "images/goose30.jpeg",
  "images/goose31.jpeg",
  "images/goose29.jpeg",
  "images/goose28.jpeg",
  "images/goose27.jpeg",
  "images/goose6.jpeg",
  "images/goose26.jpeg",
];

const chunkedImages = [...chunks(gooseImages, 3)];
---

<meta name="viewport" content="width=device-width, initial-scale=1" />

<main>
  <Layout title="Keenan Nicholson - Goose Gallery">
    <a id="topAnchor"></a>
    <a id="back" href="..">back</a>

    {
      chunkedImages.map((gooseImages) => (
        <div>
          {gooseImages.map((gooseImage) => (
            <div class="imgContainer">
              <Image
                src={import(/* @vite-ignore */ `../${gooseImage}`)}
                alt=""
              />
            </div>
          ))}
        </div>
      ))
    }

    <ul id="bottomLinks">
      <li style="display:inline-block;">
        <a id="bottomBack" href="..">back</a>
      </li>
      <li style="display:inline-block;">|</li>
      <li style="display:inline-block;">
        <a id="backToTop" href="#topAnchor">top of page</a>
      </li>
    </ul>
  </Layout>
</main>

<style>
  :root {
    background: linear-gradient(270deg, #474747, #272727);
    color: white;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  .imgContainer {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
  }

  .imgContainer img {
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
  }

  #back {
    color: rgb(151, 151, 202);
    text-decoration: none;
    font-size: 1.35rem;
  }

  #bottomBack {
    color: rgb(151, 151, 202);
    text-decoration: none;
    font-size: 1.35rem;
  }

  #backToTop {
    color: rgb(151, 151, 202);
    text-decoration: none;
    font-size: 1.35rem;
  }

  #bottomLinks {
    margin-top: 2rem;
    color: rgb(151, 151, 202);
    text-decoration: none;
    font-size: 1.35rem;
  }
</style>
