---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Keenan Nicholson">
	<main>
		<div>
			<h1>Hi there, I'm Keenan</h1>
			<h2>Extremely cool guy</h2>
			<code><pre>╠ <a href="https://github.com">GitHub</a>
║
╠ LinkedIn
║
╠ Email
║
╠ Twitter</pre></code>
		</div>
	</main>
</Layout>

<style>
	:root {
		background: linear-gradient(270deg,#474747, #272727);
		color: white;
	}

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2rem;
	}

	h1 {
		font-weight: 600;
		font-size: 3rem;
		margin: 0 0 1rem 0;
	}

	h2 {
		margin: 0 0 1.5rem 0;
		font-size: 1.75rem;
	}
	
	code {
		font-size: 1.5rem;
	}

	a {
		color: rgb(151, 151, 202);
	}

	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
