---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---


<Layout title="Keenan Nicholson">
	<main>
		<h1><span class="name">Hi there, I'm Keenan</span></h1>
		<p class="instructions">
			Extremely cool guy
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/Keenan-Nicholson/"
				title="GitHub"
				body=""
			/>
			<Card
				href="https://www.linkedin.com/in/kbnicholson"
				title="LinkedIn"
				body=""
			/>
			<Card
				href="mailto:https://keenanbnicholson@gmail.com"
				title="Email"
				body=""
			/>
			<Card
				href="https://twitter.com/keeb0rg"
				title="Twitter"
				body=""
			/>
		</ul>
	</main>
</Layout>



<style>
	:root {
		background: linear-gradient(270deg,#94a3b8, #334155);
	}

	h1 {
		margin: 2rem 0;
	}


	main {
		margin: 50px;

		max-width: 60ch;
	}


	.name {
	
		font-weight: 800;
		font-size:60px;

	}


	.instructions {
		line-height: 3;
		font-size: 25px;
		color: white;
	}


	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}


</style>
