---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style>
      body {
        display: flex;
        justify-content: center;
        margin: 0;
      }
    </style>

    <style is:global>
      :root {
        font-family: "Inter", sans-serif;
      }
      @supports (font-variation-settings: normal) {
        :root {
          font-family: "Inter var", sans-serif;
        }
      }
    </style>
  </body>
</html>
